@font-face {
    font-family: "RetroGraffiti";
    src: url("/fonts/retro-graffiti.otf") format("opentype");
}

@font-face {
    font-family: "SerialPublication";
    src: url("/fonts/serial-publication.ttf") format("truetype");
}

@font-face {
    font-family: "StreetGraffiti";
    src: url("/fonts/street-graffiti.otf") format("opentype");
}

h1 {
    font-family: 'StreetGraffiti';
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
}