body {
    background-color: black;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-family: impact;
    font-weight: 500;
    font-size: 35px;
    color: white;
}

p {
    text-align: center;
    font-family: monospace;
    font-weight: 800;
    color: white;
    font-size: 17px;
}